body{
    text-align: center;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    animation: fadeInAnimation ease 3s;
	            animation-iteration-count: 1;
	            animation-fill-mode: forwards;
	    } 
	    @keyframes fadeInAnimation{
	            0% {
	                opacity: 0;
	            }

	            100% {
	                opacity: 1;
                }
            }

#navbar {
            background-color: rgba(0,0,0,0.3);
            padding: 15px;
			margin-bottom: 50px;
            text-align: center;
        }

        #navbar a {
            color: white;
            text-decoration: none;
            margin: 0 20px;
            font-weight: bold;
        }

        #navbar a:hover {
            text-decoration: underline;
        }


 h1{
	font-family: 'Lobster', cursive;
	font-size: 50px;
}


#border{
    margin:auto;
    border: black thin solid;
    width: 500px;
    height: 370px;
    padding: 15px;
	background-color: white;
}

#container_1{
    border: black thin solid;
    width: 470px;
    height: 360x;
    padding: 5px;
	background-color: white;
}

#output{
    margin-top: 10px;
    border: black thin solid;
    width: 455px;
    height: 400x;
}

#the{
    font-size: 10px;
    width: 400px;
   
}





